@page
@model LoginModel

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Login/Register</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Login/Register</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="~/img/login.jpg" alt="">
                        <div class="hover">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3 style="margin-bottom:40px; color:#222222; font-size:18px;">LOG IN TO ENTER</h3>  
                        <form id="account" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control shadow-none" style="width:70%;border:none; margin:0 auto" autocomplete="username" aria-required="true" placeholder="Your Email" />
                                <hr style="margin-top:5px; border-bottom: 0.5px solid #aaa;width:70%" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control shadow-none" style="border:none;width:70%; margin:0 auto; outline:none" autocomplete="current-password" aria-required="true" placeholder="Password" />
                                <hr style="margin-top:5px; border-bottom: 0.5px solid #aaa;width:70%" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="checkbox mb-3" style="display:flex; justify-content:space-around">
                                <label asp-for="Input.RememberMe" class="form-label" style="margin-left:30px">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword" style="color:#777777">Forgot your password?</a>
                                </p>
                            </div>
                            <div>
                                <button id="login-submit" type="submit" style="width: 70%;border:none;line-height:44px;color:white; background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);">LOG IN</button>
                            </div>
                            <div>
                                <div style="display:flex;justify-content:center; margin-top:10px">
                                    <p style="margin-right:5px">Don't have an account?</p>
                                    <p>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-primary">Signup</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
