<div class="container" style="margin-top:160px; margin-bottom: 50px; display: flex; justify-content: space-evenly; font-family: 'Roboto';">
	<a asp-controller="Shoe" asp-action="Home" style="text-align: center; width: 250px; height: 250px; box-shadow: 0 0 10px #aaa; display: grid; place-content: center; color: black;">
		<i class='bx bx-store-alt' style="font-size: 50px; margin-bottom: 20px;"></i>
		<h4>Quản Lý Sản Phẩm</h4>
	</a>
	<a asp-controller="TaiKhoan" asp-action="Index" style="text-align: center; width: 250px; height: 250px; box-shadow: 0 0 10px #aaa; display: grid; place-content: center; color: black;">
		<i class='bx bx-user' style="font-size: 50px; margin-bottom: 20px;"></i>
		<h4>Quản Lý Tài Khoản</h4>
	</a>
	<a asp-controller="DonHang" asp-action="Index" style="text-align: center; width: 250px; height: 250px; box-shadow: 0 0 10px #aaa; display: grid; place-content: center; color: black;">
		<i class='bx bx-cart-alt' style="font-size: 50px; margin-bottom: 20px;"></i>
		<h4>Quản Lý Đơn Hàng</h4>
	</a>
</div>